<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>All Centers | EventsManager</title>
</head>
<header>
    <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            EVENTS MNG
        </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="All-centers.html">All Centers</a>
                </li>
                <li>
                    <a href="My-events.html">My Events</a>
                </li>
                <li>
                    <a href="upcoming-events.html">Upcoming Events</a>
                </li>
                <li>
                    <a href="index.html">Logout</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="All-centers.html">All Centers</a>
                </li>
                <li>
                    <a href="My-events.html">My Events</a>
                </li>
                <li>
                    <a href="upcoming-events.html">Upcoming Events</a>
                </li>
                <li>
                    <a href="index.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
    <hr>
    <h1 class="pink-text" ><b>AVAILABLE CENTERS</b></h1>
    <div class="form col-lg-12">
        
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                            <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="#">
                            <img src="assets/img/jumbotron.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-panel">
                        <a href="#">
                            <span class="card-title middle">PYTHON HALL</span>
                        </a>
                        <p>
                            <b> CAPACITY:</b>: 10,000 People </p>
                        <p>
                            <b> LOCATION:</b>  Ikorodu Lagos</p>
                        <a class="waves-effect waves-light btn" href="center-details.html">Full Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="page-footer pink">
    <div class="footer-copyright">
        <div class="container">
            <h1 style="text-align:center"> © 2017 Copyright EventsManager</h1>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="assets/js/materialize.min.js"></script>
    <script src="assets/js/init.js"></script>
</footer>