<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="assets/js/materialize.min.js"></script>

    <title>Upcoming Events | EventsManager</title>
</head>
<header>

    <!-- Dropdown Structure -->

    <nav>
        <div class="nav-wrapper pink">
            <a href="#" class="brand-logo">
                <img src="assets/img/logo.png">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="index.html">Sign up/ Sign in</a>
                </li>
                <li>
                    <a href="all-centers.html">Centers</a>
                </li>
                <!-- Dropdown Trigger -->
            </ul>
        </div>
    </nav>
</header>
<body>
  <div class="form col-lg-12">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p><b> CENTER:</b>: Python  Hall</p>
                    <p><b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p><b> CENTER:</b>: Python  Hall</p>
                    <p><b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p><b> CENTER:</b>: Python  Hall</p>
                    <p><b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p><b> CENTER:</b>: Python  Hall</p>
                    <p><b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p>
                        <b> CENTER:</b>: Python Hall</p>
                    <p>
                        <b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p><b> CENTER:</b>: Python  Hall</p>
                    <p><b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p><b> CENTER:</b>: Python  Hall</p>
                    <p><b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p>
                        <b> CENTER:</b>: Python Hall</p>
                    <p>
                        <b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p>
                        <b> CENTER:</b>: Python Hall</p>
                    <p>
                        <b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="Recipe image">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">GDG DEVFEST KOGI</span>
                    </a>
                    <p>
                        <b> CENTER:</b>: Python Hall</p>
                    <p>
                        <b> DESCRIPTION:</b> Bringig up young developers from Kogi to be worldclass.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
<footer class="page-footer pink">
    <div class="footer-copyright">
        <div class="container">
            <h1 style="text-align:center"> © 2017 Copyright EventsManager</h1>
        </div>
    </div>
</footer>