<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>All Centers | EventsManager</title>
</head>
<header>
    <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            EVENTS MNG
        </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="All-centers.html">All Centers</a>
                </li>
                <li>
                    <a href="upcoming-events.html">Upcoming-events</a>
                </li>
                <li>
                    <a href="index.html">Logout</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="All-centers.html">All Centers</a>
                </li>
                <li>
                    <a href="upcoming-events.html">Upcoming-events</a>
                </li>
                <li>
                    <a href="index.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    
    <h1 class="pink-text">
        <b>ALL CENTERS</b>
    </h1>
    <div class="form col-lg-12">
    
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
                    
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="assets/img/jumbotron.jpg" alt="">
                    </a>
                </div>
                <div class="card-panel">
                    <a href="#">
                        <span class="card-title middle">PYTHON HALL</span>
                    </a>
                    <p>
                        <b> CAPACITY:</b>: 10,000 People </p>
                    <p>
                        <b> LOCATION:</b> Ikorodu Lagos</p>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Edit Center</a>
                    <a class="waves-effect waves-light btn" href="edit-center.html">Delete Center</a>
        
                </div>
            </div>
        
        <ul class="tab-group" width="200%">
            <li class="tab active" width="200%">
                <a href="#" width="200%">Add New Center</a>
            </li>
        </ul>
        
        <div class="tab-content">
            <div>
                <h1>Add New Center</h1>
        
        
                <form action="/" method="post">
        
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                Center Name
                                <span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" />
                        </div>
        
                        <div class="field-wrap">
                            <label>
                                Center Location
                                <span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" />
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Center Facilities
                            <span class="req">*</span>
                        </label>
                       
                    </div>
                    <div class="field-wrap">
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                            <label for="filled-in-box">Air Conditioner</label>
                        </p>
                    </div>
                    <div class="field-wrap">
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                            <label for="filled-in-box">Projectors</label>
                        </p>
                    </div>
                    <div class="field-wrap">
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                            <label for="filled-in-box">Projector</label>
                        </p>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Center Capacity eg- 10,000 people
                            <span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                    </div>

        
                    <button type="submit" class="button button-block" />Add Center</button>
        
                </form>
        
            </div>
        
            <div id="login">
            </div>
        </div>
        </div></div>
    </div>
    
    </div>
</body>
    
<footer class="page-footer pink">
    <div class="footer-copyright pink">
        <div class="container">
            <p style="text-align:center"> © 2017 Copyright EventsManager</p>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="assets/js/materialize.min.js"></script>
    <script src="assets/js/init.js"></script>
</footer>